# Jupyter Notebook
.ipynb_checkpoints

.git

v1.0-U_Net/training_checkpoints/*
!v1.0-U_Net/training_checkpoints/.gitkeep

v1.1-U_Net-EarlyStopping(train anomaly)/training_checkpoints/*
!v1.1-U_Net-EarlyStopping(train anomaly)/training_checkpoints/.gitkeep

v1.2-U_Net-EarlyStopping/training_checkpoints/*
!v1.2-U_Net-EarlyStopping/training_checkpoints/.gitkeep

v2.0-Bowtie-EarlyStopping/training_checkpoints/*
!v2.0-Bowtie-EarlyStopping/training_checkpoints/.gitkeep

v3.0-U_Net-EarlyStopping-genOnly/training_checkpoints/*
!v3.0-U_Net-EarlyStopping-genOnly/training_checkpoints/.gitkeep