# Jupyter Notebook
.ipynb_checkpoints

.git

v1.0-U_Net/training_checkpoints/*
!v1.0-U_Net/training_checkpoints/.gitkeep

v1.1-U_Net-EarlyStopping(train anomaly)/training_checkpoints/*
!v1.1-U_Net-EarlyStopping(train anomaly)/training_checkpoints/.gitkeep

